Source: casimir-editor
Section: misc
Priority: optional
Maintainer: Jose A. Murcia <joamuran@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Homepage: http://www.lliurex.net
#Vcs-Git: git://git.debian.org/collab-maint/base.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/base.git;a=summary

Package: casimir-editor
Architecture: any
Depends: ${misc:Depends}, nwjs0.12
# Depends too of nw > 12
Description: Text editor for dyslexics
 WebODF text editor for dyslexics

Package: casimir-naturalreaders-launcher
Architecture: any
Depends: ${misc:Depends}, nwjs0.12
Description: Natural Readers
 Natural Readers Launcher
