[Desktop Entry]
Version=1.0
Terminal=false
Icon=/usr/share/pixmaps/casimir-editor.png
Type=Application
Categories=Office;Education;
Exec=/usr/bin/casimir-editor.sh
Name=Casimir Editor
Comment=Text editor for dyslexic people.