Desktop Entry]
Version=1.0
Terminal=false
Icon=casimir-editor
Type=Application
Categories=Office;LliureX-Educacion-Especial;Education;
Exec=/usr/bin/casimir-editor
Name=Casimir Editor
Comment=Text editor for dyslexic people
