[Desktop Entry]
Version=1.0
Terminal=false
Icon=casimir-editor
Type=Application
Categories=Office;Education;Network;WebBrowser;
Exec=/usr/share/bin/casimir-naturalreaders-launcher
Name=Natural Readers Launcher
Comment=Natural Readers Launcher
