[Desktop Entry]
Version=1.0
Terminal=false
Icon=/usr/share/pixmaps/casimir-naturalreaders-launcher.png
Type=Application
Categories=Office;Education;Network;WebBrowser;
Exec=/usr/share/bin/casimir-naturalreaders-launcher
Name=Natural Readers Launcher
Comment=Google Chrome Natural Readers Launcher